<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <input #box>
  <button (click)="onClickMe(box.value)">Convert to PigLatin</button>
  <p>converted to: {{convertedWords}}</p>

  <h2>History of words/sentences searched</h2>
  <ng-container *ngFor="let wordSearch of wordsSearchedHistory let i=index;">
    <p>{{i+1}}. {{ wordSearch.searchedSentence }}
       <strong>converted to</strong>
        {{ wordSearch.convertedSentence }}</p>
  </ng-container>
</div>







